@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');


:root {
	--highlight-color: null;
	scrollbar-color: $color-scrollbar-light;
	scrollbar-width: thin;
}

::selection {
	background: $color-secondary;
	color: $color-white;
	text-shadow: none;
}

::-moz-selection {
	background: $color-secondary;
	color: $color-white;
	text-shadow: none;
}

body {
	color: $color-text;
	font-family: $font-primary;
}

h1,
h2,
h3,
h4 {
	color: $color-header;
}

h1 {
	margin: 0;
}

input {
	&:is(
		:autofill,
		:-webkit-autofill
	) {
		-webkit-background-clip: text;
		-webkit-box-shadow: 0 0 0 1.875rem $color-white inset;
		-webkit-text-fill-color: $color-primary;

		&::selection {
			-webkit-text-fill-color: $color-white;
		}
	}

	&::placeholder {
		color: $color-placeholder;
		// line-height: 0;
	}

	&::-moz-placeholder {
		color: $color-placeholder;
	}

	&::-webkit-input-placeholder {
		color: $color-placeholder;
	}
}
