$-pagination-gap: calc(#{$button-gap} * .5);


.pagination {
	$base: &;

	display: flex;
	justify-content: space-between;
	width: 100%;

	&__label,
	&__menu .menu__toggle svg {
		color: $color-field;
	}

	&__indicator {
		align-items: center;
		column-gap: $-pagination-gap;
		display: flex;
	}

	&__menu {
		padding-left: $-pagination-gap;
	}

	&__menu .menu {
		&__dropdown {
			height: 3rem;
			inset-block: 0;
			margin-block: auto;
			padding-right: $button-gap;
			row-gap: 0;
		}

		&__list {
			height: calc(3rem - (.625rem * 2));
			overflow-y: auto;
		}

		&__toggle {
			column-gap: $-pagination-gap;
			font-size: unset;
		}
	}

	&__next svg {
		rotate: 180deg;
	}
}
