.pagination {
	$base: &;

	display: flex;
	justify-content: space-between;
	line-height: 1;
	width: 100%;

	&:has(> *:only-child) {
		justify-content: center;
	}

	&__indicator {
		align-items: center;
		color: $color-field;
		column-gap: $icon-gap;
		display: flex;
	}

	&__menu {
		padding-left: $icon-gap;

		.menu__dropdown {
			inset-block: 0;
			margin-block: auto;
			min-width: 3.5rem;
			padding-block: .5rem;

			.button {
				line-height: 1.125;
			}
		}

		.menu__toggle {
			color: $color-tertiary;
			font-size: unset;
			min-width: 3.125rem;

			&:focus-within,
			&:hover {
				color: $color-quaternary;
			}

			.button__inner {
				justify-content: center;
			}
		}

		&:has(.menu__item:nth-of-type(4)) .menu__item {
			padding-right: $icon-gap;
		}
	}

	&__next svg {
		rotate: 180deg;
	}
}
