// ----------------------------------------------
//	fonts: internal
// ----------------------------------------------

$-font-lexend: Lexend, serif;

// ----------------------------------------------
//	fonts: theme
// ----------------------------------------------

$font-primary: $-font-lexend;

$message-font-size: .625rem;
$caption-font-size: .75rem;
$details-font-size: .875rem;
$label-font-size: 1rem;

$icon-size-xs: .875rem;
$icon-size-sm: 1rem;
$icon-size-md: 1.125rem;
$icon-size-lg: 1.25rem;

// ----------------------------------------------
//	colors: internal
// ----------------------------------------------

$-color-gray: #CED4DA;
$-color-gray-dark: #343A40;
$-color-gray-light: #F1ECE9;
$-color-gray-purple: #C7C1E0;
$-color-silver: #9CA3AF;

$-color-blue-purple: #6D62DD;
$-color-hot-pink: #F90075;
$-color-orange: #FFA900;
$-color-pink: #ED6A7C;
$-color-purple-dark: #300D38;
$-color-purple-light: #890A74;
$-color-red: #DC3545;
$-color-teal: #0CA3B7;
$-color-yellow: #FFDF02;

// ----------------------------------------------
//	colors: theme
// ----------------------------------------------

$color-black: #000000;
$color-white: #FFFFFF;

$color-primary: $-color-purple-dark;
$color-secondary: $-color-purple-light;
$color-tertiary: $-color-orange;
$color-quaternary: $-color-yellow;

$color-active: #{$-color-teal}E6;
$color-danger: $-color-red;
$color-focus-danger: $-color-hot-pink;
$color-disabled: $-color-gray-purple;

$color-background: #242424;
$color-text: #090325;
$color-header: $color-primary;

$color-divider: $-color-gray-light;
$color-heart: $-color-pink;
$color-tag: $-color-teal;

$color-field: #{$-color-gray-dark}E6;
$color-checkbox: $-color-gray-purple;
$color-placeholder: $-color-silver;

$color-scrollbar-light: $-color-silver $color-white;
$color-scrollbar-dark: $-color-silver $color-background;

// ----------------------------------------------
//	screen sizes
// ----------------------------------------------

$width-xs: 30rem;
$width-sm: 37.5rem;
$width-md: 48rem;
$width-lg: 67.5rem;
$width-xl: 80rem;

// ----------------------------------------------
//	layout
// ----------------------------------------------

$container-max-width: $width-xl;

$section-gap-sm: .875rem;
$section-gap-lg: 1.125rem;

$column-gap-sm: .625rem;
$column-gap-lg: 1.25rem;

$row-gap-lg: .75rem;

$form-gap: 1.375rem;
$button-gap: .375rem;
$icon-gap: calc(#{$button-gap} * .5);

// ----------------------------------------------
//	animations/transitions
// ----------------------------------------------

$transition-button: cubic-bezier(.77, 0, .18, 1);
$transition-cta: cubic-bezier(.46, .03, .52, .96);
$transition-slide: cubic-bezier(.3, 0, 0, 1);
