.menu {
	$base: &;

	align-items: center;
	display: flex;
	position: relative;

	&__toggle {
		column-gap: $button-gap;
		line-height: 1;
		overflow: visible;

		button {
			cursor: default;
		}

		svg {
			color: $color-placeholder;
		}
	}

	&__dropdown {
		background-color: $color-white;
		border: .1px solid $color-secondary;
		max-height: max-content;
		min-width: max-content;
		opacity: 0;
		padding: $row-gap-lg;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 10;
	}

	&__list {
		display: flex;
		flex-direction: column;
		max-height: max-content;
		row-gap: $button-gap;
		white-space: nowrap;
		width: 100%;
	}

	&__item {
		.button {
			line-height: 1;

			&:has([disabled]) {
				color: $color-field;
			}
		}

		&--active .button {
			color: $color-active;

			&:not(:focus-within):hover {
				color: $color-primary;
			}

			&:focus-within:hover {
				color: $color-secondary;
			}
		}
	}

	&--scrollable #{$base} {
		&__dropdown {
			height: 4.625rem;
			inset-block: 99% auto;
			padding-right: $icon-gap;
		}

		&__item {
			padding-right: .5rem;
		}

		&__list {
			height: 100%;
			overflow-y: auto;
			scrollbar-color: $color-scrollbar-light;
			scrollbar-width: thin;
		}

		&__toggle {
			font-size: unset;
		}
	}

	&--visible #{$base} {
		&__dropdown {
			opacity: 1;
			pointer-events: all;
		}

		&__item > .button:has([disabled]) {
			color: $color-disabled;
			transition: 0s;
		}
	}
}
