.card {
	$base: &;

	outline: .1px solid transparent;
	outline-offset: -1px;
	position: relative;
	transition: outline-color .2s $transition-cta;
	z-index: 2;

	&__wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
	}

	&__favorite {
		position: absolute;
		right: .625rem;
		top: .625rem;
		z-index: 5;
	}

	&__heart {
		color: $color-white;
		transition: color .2s $transition-cta;
	}

	&__caption {
		pointer-events: none;

		h3 {
			color: $color-secondary;
			margin: 0;
			transition: color .2s $transition-cta;
		}

		b {
			color: $color-primary;
			font-size: $button-font-size;
		}
	}

	&__details {
		color: $color-field;
		display: flex;
		font-size: $button-font-size;

		& > * {
			color: inherit;
		}
	}

	&__image,
	&__img {
		position: relative;
		z-index: -1;
	}

	&__img {
		height: 9rem;
		margin-block: 1px 0;
		object-fit: cover;
		object-position: 50% 30%;
	}

	&--horizontal #{$base} {
		&__caption {
			flex: 1;
			padding-bottom: 0;
		}

		&__details {
			flex-direction: column;
		}

		&__image {
			margin-inline: auto;
			width: fit-content;
		}

		&__wrapper {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	&--vertical #{$base} {
		&__caption {
			padding: .625rem .5rem;
		}

		&__details > *:last-child {
			flex: 1;
			text-align: end;
		}

		&__img {
			margin-inline: auto;
			width: calc(100% - 2px);
		}
	}

	&:not(:has(#{$base}__heart)) #{$base} {
		&__wrapper {
			column-gap: calc($column-gap-lg * 2);
			padding-inline: .5rem;
		}
	}

	&:has(#{$base}__heart) {
		&#{$base}--horizontal #{$base} {
			&__caption {
				display: flex;
				flex-basis: 55%;
				flex-direction: column;
				justify-content: center;
				padding-inline: $row-gap-lg;

				@include breakpoint ($width-sm) {
					flex-basis: 65%;
				}
			}

			&__image {
				flex-basis: 45%;

				@include breakpoint ($width-sm) {
					flex-basis: 35%;
				}
			}

			&__img {
				margin-inline: -1px 0;
				max-height: calc(100% - 2px);
				width: 100%;
			}
		}

		#{$base}__wrapper {
			cursor: pointer;
		}

		#{$base}__image::before {
			background: linear-gradient(to left bottom, #{$color-black}33, transparent);
			content: '';
			display: block;
			inset: 0;
			position: absolute;
			transition: opacity .25s $transition-button;
			z-index: 2;
		}

		&:is(
			:focus-visible,
			:hover,
			#{$base}--liked
		) #{$base} {
			&__heart {
				color: $color-heart-light;
			}

			&__image::before {
				opacity: 0;
			}
		}

		&:focus-visible,
		&:hover {
			outline-color: $color-secondary;

			h3 {
				color: $color-tertiary;
			}
		}
	}
}
