.card {
	$base: &;

	outline: .1px solid transparent;
	outline-offset: -1px;
	position: relative;
	transition: outline-color .2s $transition-cta;
	z-index: 2;

	&__img,
	&__wrapper::before {
		height: 9rem;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
	}

	&__favorite,
	&--liked {
		&:hover #{$base}__heart {
			color: $color-heart-dark;
		}
	}

	&__favorite {
		position: absolute;
		right: .625rem;
		top: .625rem;
		z-index: 5;
	}

	&__heart {
		color: $color-white;
		transition: color .2s $transition-cta;
	}

	&__caption {
		pointer-events: none;

		h3 {
			color: $color-secondary;
			margin: 0;
			transition: color .2s $transition-cta;
		}

		b,
		i {
			font-size: $button-font-size;
		}
	}

	&__details {
		color: $color-field;
		display: flex;

		& > * {
			color: inherit;
		}
	}

	&__img {
		position: relative;
		z-index: -1;
	}

	&:not(:has(#{$base}__heart)) #{$base} {
		&__caption {
			flex: 1;
			padding-bottom: 0;
		}

		&__details {
			flex-direction: column;
		}

		&__img {
			margin-inline: auto;
			width: fit-content;
		}

		&__wrapper {
			column-gap: calc($column-gap-lg * 2);
			flex-direction: row-reverse;
			justify-content: space-between;
			padding-inline: .5rem;
		}
	}

	&:has(#{$base}__heart) {
		#{$base} {
			&__caption {
				padding: .625rem .5rem;
			}

			&__details > *:last-child {
				flex: 1;
				text-align: end;
			}

			&__img {
				margin: 1px auto 0;
				object-fit: cover;
				object-position: 50% 30%;
				width: calc(100% - 2px);
			}

			&__wrapper {
				cursor: pointer;

				&::before {
					background: linear-gradient(to left bottom, #{$color-black}33, transparent);
					content: '';
					display: block;
					inset: 0;
					position: absolute;
					transition: opacity .25s $transition-button;
					z-index: 1;
				}
			}
		}

		&:focus-visible,
		&:hover,
		&#{$base}--liked {
			#{$base} {
				&__wrapper::before {
					opacity: 0;
				}

				&__heart {
					color: $color-heart-light;
				}
			}
		}

		&:focus-visible,
		&:hover {
			outline-color: $color-secondary;

			h3 {
				color: $color-tertiary;
			}
		}
	}
}
