$-selection-size: .625rem;


.field {
	$base: &;

	font-size: $field-font-size;
	line-height: 1;
	position: relative;

	&:has(fieldset) {
		display: flex;
		flex-direction: column;
		row-gap: $section-gap-lg;
	}

	&--error #{$base}__container {
		&::before {
			background-color: $color-danger;
		}

		&::after {
			background-color: $color-focus-danger;
		}
	}

	&__container {
		padding-top: $row-gap-lg;
		position: relative;

		&:has(#{$base}__input) {
			padding-bottom: $row-gap-lg;

			&::before,
			&::after {
				bottom: 0;
				content: '';
				display: block;
				height: .1px;
				left: 0;
				position: absolute;
				transition: opacity .2s $transition-cta;
				width: 100%;
			}

			&::before {
				background-color: $color-secondary;
			}

			&::after {
				background-color: $color-tertiary;
				opacity: 0;
				z-index: 2;
			}
		}
	}

	&__label,
	&__message {
		font-size: .625rem;

		@include breakpoint($width-md) {
			font-size: $label-font-size;
		}
	}

	&__button,
	&__icon {
		inset: 0 0 0 auto;
		margin: auto;
		position: absolute;
	}

	&__button,
	&__message {
		padding: $row-gap-lg 0;
	}

	&__icon,
	&__message {
		display: block;
		pointer-events: none;
		user-select: none;
	}

	&__button {
		margin-right: calc(#{$icon-size-sm} + #{$button-gap});

		@include breakpoint($width-md) {
			margin-right: calc(#{$icon-size-lg} + #{$button-gap});
		}
	}

	&__icon {
		color: $color-placeholder;
	}

	&__label {
		color: $color-text;
		display: block;
		margin-bottom: $button-gap;
	}

	&__message {
		color: $color-danger;
		inset: auto 0 0 auto;
		line-height: $field-font-size;
		position: absolute;
		z-index: 0;
	}

	&__honeypot {
		font-size: 0;
		height: 0;
		line-height: 0;
		opacity: 0;
		position: absolute;
	}

	&__input,
	&__select {
		background-color: transparent;
		color: $color-field;
		outline: 0;
		width: 100%;
	}

	&__checkbox,
	&__radio {
		-webkit-appearance: none;
		appearance: none;
		background-color: $color-white;
		background: none;
		border: 0;
		color: $color-tertiary;
		flex-grow: 0;
		height: $-selection-size;
		outline: 0;
		transition: background .25s $transition-cta;
		vertical-align: middle;
		width: $-selection-size;

		&::before {
			background-color: transparent;
			background-size: contain;
			border-radius: inherit;
			border: 0;
			box-shadow: inset 0 0 0 .0625rem $color-checkbox;
			color: transparent;
			content: "";
			display: block;
			height: inherit;
			width: inherit;
		}

		&:checked {
			background-color: currentColor;

			&::before {
				box-shadow: none;
			}
		}

		& + label {
			padding-left: $button-gap;
		}
	}

	&__checkbox {
		border-radius: .125rem;

		&:checked::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
		}
	}

	&__radio {
		border-radius: 50%;
	}

	&__list {
		background-color: $color-white;
		border: .1px solid $color-secondary;
		margin-inline: -.1px 0;
		padding: $row-gap-lg $button-gap $row-gap-lg $row-gap-lg;

		#{$base}__choices {
			height: 6.25rem;
			overflow-y: auto;
			padding-right: $row-gap-lg;

			@include breakpoint($width-md) {
				height: 13.5rem;
			}
		}
	}

	&__choices {
		display: flex;
		flex-direction: column;
		row-gap: $button-gap;
	}

	&__choice,
	&__tag {
		max-height: max-content;
		max-width: max-content;

		&,
		label {
			cursor: pointer;
		}

		span {
			pointer-events: none;
		}

		&:focus-within,
		&:has(:checked) {
			color: $color-secondary;
		}
	}

	&__choice {
		align-items: center;
		display: flex;

		&:is(:focus-within, :hover) {
			color: $color-primary;

			:is(#{$base}__checkbox, #{$base}__radio)::before {
				box-shadow: inset 0 0 0 .0625rem $color-tertiary;
			}
		}
	}

	&__tag {
		align-items: center;
		background-color: #{$color-tag}40;
		border-radius: 1rem;
		color: $color-tag;
		column-gap: .125rem;
		display: inline-flex;
		font-size: $label-font-size;
		margin: 0 .5rem $button-gap 0;
		padding: .25rem .5rem;
		transition: background-color .25s $transition-cta,
			color .25s $transition-cta;

		&:is(:focus, :hover) {
			background-color: #{$color-tag}E6;
			color: $color-white;
		}

		svg {
			font-size: $icon-size-sm;
			height: $icon-size-sm;
			width: $icon-size-sm;
		}
	}

	&:focus-within {
		&::before {
			opacity: 0;
		}

		&::after {
			opacity: 1;
		}
	}

	&:hover:not(:focus-within) {
		&::before,
		&::after {
			opacity: .25;
		}
	}
}
