.form {
	display: flex;
	flex-direction: column;
	row-gap: $row-gap-lg;
	text-align: left;

	&__button {
		margin-top: $row-gap-lg;
	}
}

.field {
	font-size: .875rem;
	line-height: .875rem;
	position: relative;

	&::before,
	&::after {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: opacity .2s ease-in;
		width: 100%;
	}

	&::before {
		background-color: $color-secondary;
	}

	&::after {
		background-color: $color-tertiary;
		opacity: 0;
		z-index: 2;
	}

	&:focus-within {
		&::before {
			opacity: 0;
		}

		&::after {
			opacity: 1;
		}
	}

	&--error {
		&::before {
			background-color: $color-danger;
		}

		&::after {
			background-color: $color-focus-danger;
		}
	}

	&,
	&__message {
		padding: $row-gap-lg 0;
	}

	&__honeypot,
	&__label {
		font-size: 0;
		height: 0;
		line-height: 0;
		opacity: 0;
		position: absolute;
	}

	&__input {
		background-color: transparent;
		color: $color-field;
		outline: 0;
		width: 100%;
	}

	&__message {
		color: $color-danger;
		display: block;
		font-size: .75rem;
		font-style: italic;
		inset: auto 0 0 auto;
		position: absolute;
		z-index: 2;
	}
}

