.form {
	$base: &;

	column-gap: $column-gap-lg;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
	row-gap: $form-gap;
	text-align: left;
	width: 100%;

	&#login {
		flex-direction: column;
		padding-top: $row-gap-lg;
	}

	&__button {
		margin-top: $button-gap;
	}

	&__error {
		bottom: calc(($form-gap * -1) - .875rem);
		color: $color-danger;
		display: block;
		font-size: $message-font-size;
		line-height: $message-font-size;
		position: absolute;
		text-align: center;
		width: 100%;

		@include breakpoint($width-md) {
			font-size: $details-font-size;
			line-height: $details-font-size;
		}
	}
}

.intro {
	align-items: center;
	background-color: $color-white;
	display: flex;
	flex-direction: column-reverse;
	max-width: 100%;
	position: relative;
	text-align: center;
	width: 100%;

	@include breakpoint($width-lg) {
		flex-direction: row;
	}

	& > .column {
		height: 100%;
		width: 100%;

		@include breakpoint($width-lg) {
			flex: 1 1 50%;
		}

		&:has(> img) {
			background-color: #EDB505;
			z-index: 0;

			img {
				height: 100%;
				max-height: 30vh;
				object-fit: cover;
				width: 100%;

				@include breakpoint($width-lg) {
					max-height: calc(100vh - 6rem);
					object-fit: none;
					object-position: bottom;
				}
			}
		}
	}

	.content {
		margin: 1.5rem;

		@include breakpoint($width-lg) {
			margin: 0 4.25rem;
		}
	}

	.logo {
		left: $column-gap-lg;
		position: absolute;
		top: $column-gap-lg;
	}
}
