.menu {
	$base: &;

	align-items: center;
	display: flex;
	position: relative;

	&__toggle {
		column-gap: $button-gap;
		line-height: 1;
		overflow: visible;

		button {
			cursor: default;
		}

		svg {
			color: $color-placeholder;
		}
	}

	&__dropdown {
		background-color: $color-white;
		border: .1px solid $color-secondary;
		max-height: max-content;
		min-width: max-content;
		opacity: 0;
		padding: .625rem $row-gap-lg;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 10;
	}

	&__list {
		display: flex;
		flex-direction: column;
		max-height: max-content;
		row-gap: .25rem;
		white-space: nowrap;
		width: 100%;
	}

	&__item {
		.button {
			color: $color-field;
			line-height: 1.175;

			&:hover {
				color: $color-tertiary;
			}
		}

		&--active .button {
			color: $color-secondary;
		}

		&:has([disabled]) .button {
			&,
			&:hover {
				color: $color-disabled;
			}
		}
	}

	&:hover #{$base}__dropdown {
		opacity: 1;
		pointer-events: all;
	}

	&--scrollable #{$base} {
		&__dropdown {
			height: 4.75rem;
			inset-block: 99% auto;
			padding-right: calc(#{$button-gap} * .5);
		}

		&__item {
			padding-right: .5rem;
		}

		&__list {
			height: 100%;
			overflow-y: auto;
			scrollbar-color: $color-scrollbar-light;
			scrollbar-width: thin;
		}

		&__toggle {
			font-size: unset;
		}
	}
}
