.field {
	$base: &;

	&__select {
		padding-bottom: $row-gap-lg;

		&:is(select) {
			display: none;
		}

		.menu {
			&__dropdown {
				height: 6.875rem;
				width: 100%;
			}

			&__item:first-of-type .button {
				border-bottom: .1px solid $color-divider;
				color: $color-placeholder;
				margin-bottom: $icon-gap;
				padding-bottom: $button-gap;

				&:focus-within,
				&:hover {
					color: $color-primary;
				}
			}

			&__toggle {
				width: 100%;
			}
		}
	}

	&__toggle {
		align-items: center;
		display: flex;
		flex: 1;
		height: 1.125rem;

		&--default {
			color: $color-placeholder;
		}

		&--selected {
			color: $color-field;
		}
	}
}
