.navbar {
	$base: &;

	column-gap: $column-gap-sm;
	display: flex;
	justify-content: flex-end;

	&__welcome,
	.menu__toggle svg {
		color: $color-placeholder;
	}

	&__settings {
		font-size: $button-font-size;
	}

	&__username {
		color: $color-field;
		transition: color .3s $transition-slide;
	}

	&__welcome {
		display: none;

		@include breakpoint($width-md) {
			display: inline;
		}
	}

	.menu__toggle:is(:focus-within, :hover) #{$base} {
		&__username {
			color: $color-tertiary;
		}
	}
}
