
.button {
	$base: &;

	overflow: hidden;
	position: relative;
	text-align: center;

	&::after {
		background-color: $color-tertiary;
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: translate .25s ease-in;
		translate: 100%;
		width: 100%;
		z-index: 1;
	}

	&:not(#{$base}--text) {
		background-color: $color-secondary;

		&::after {
			content: '';
		}

		&:is(:focus-within, :hover)::after {
			translate: 0;
		}

		button,
		input[type="submit"] {
			color: $color-white;
			padding: .5rem 1rem;
		}
	}

	&:is(#{$base}--text) {
		line-height: 1rem;

		&:is(:focus-within, :hover) {
			button,
			input[type="submit"] {
				color: $color-tertiary;
			}
		}

		button,
		input[type="submit"] {
			color: $color-primary;
			display: inline-block;
			transition: color .25s ease-in;
		}
	}

	button,
	input[type="submit"] {
		background-color: transparent;
		font-size: .875rem;
		position: relative;
		width: 100%;
		z-index: 2;
	}
}
