
.button {
	$base: &;

	overflow: hidden;
	position: relative;
	text-align: center;

	button,
	input[type="submit"] {
		align-items: center;
		background-color: transparent;
		column-gap: .375rem;
		display: flex;
		font-size: .875rem;
		line-height: 1;
		position: relative;
		width: 100%;
		z-index: 2;
	}

	&--outline,
	&--solid {
		button,
		input[type="submit"] {
			padding: .75rem 1rem;
		}
	}

	&--inline {
		display: inline-block;
	}

	&--solid {
		background-color: $color-secondary;

		button,
		input[type="submit"] {
			color: $color-white;
		}

		&::after {
			background-color: $color-tertiary;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transition: translate .25s ease-in;
			translate: 100%;
			width: 100%;
			z-index: 1;
		}

		&:is(:focus-within, :hover)::after {
			translate: 0;
		}
	}

	&--outline {
		background-color: transparent;
		border: .0625rem solid $color-secondary;
		transition: border-color .25s ease-in;

		button,
		input[type="submit"] {
			color: $color-secondary;
			transition: color .25s ease-in;
		}

		&:is(:focus-within, :hover) {
			border-color: $color-tertiary;

			button,
			input[type="submit"] {
				color: $color-tertiary;
			}
		}
	}

	&--icon {
		button,
		input[type="submit"] {
			color: $color-primary;
			font-size: 1.5rem;
		}
	}

	&--text {
		line-height: 1rem;

		button,
		input[type="submit"] {
			color: $color-tertiary;
			transition: color .25s ease-in;
		}

		&:is(:focus-within, :hover) {
			button,
			input[type="submit"] {
				color: $color-primary;
			}
		}
	}
}
