$-selection-size: .625rem;
$-transition-field: .2s $transition-cta;


.field {
	$base: &;

	&__choices {
		display: flex;
		flex-direction: column;
		row-gap: $button-gap;
	}

	&__choice {
		align-items: center;
		display: flex;
		max-height: max-content;
		max-width: max-content;
		transition: color $-transition-field;

		&,
		label {
			cursor: pointer;
		}

		span {
			pointer-events: none;
		}

		&:focus-within,
		&:hover {
			color: $color-secondary;

			:is(#{$base}__checkbox, #{$base}__radio)::before {
				box-shadow: inset 0 0 0 .0625rem $color-tertiary;
			}
		}

		&:has(:checked) {
			color: $color-active;

			&:not(:focus-within):hover {
				color: $color-primary;
			}

			&:focus-within:hover {
				color: $color-secondary;
			}
		}
	}

	&__checkbox,
	&__radio {
		-webkit-appearance: none;
		appearance: none;
		background-color: $color-white;
		background: none;
		border: 0;
		color: $color-tertiary;
		flex-grow: 0;
		height: $-selection-size;
		outline: 0;
		transition: background $-transition-field;
		vertical-align: middle;
		width: $-selection-size;

		&::before {
			background-color: transparent;
			background-size: contain;
			border-radius: inherit;
			border: 0;
			box-shadow: inset 0 0 0 .0625rem $color-checkbox;
			color: transparent;
			content: "";
			display: block;
			height: inherit;
			transition: box-shadow $-transition-field;
			width: inherit;
		}

		&:checked {
			background-color: currentColor;

			&::before {
				box-shadow: none;
			}
		}

		& + label {
			padding-left: $button-gap;
			transition: color $-transition-field;
		}
	}

	&__checkbox {
		border-radius: .125rem;

		&:checked::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
		}
	}

	&__radio {
		border-radius: 50%;
	}
}
